@import './normalize.css';
@import './font.css';

@import './home.css';
@import './survey.css';
@import './result.css';
@import './loading.css';

:root {
  /* color */
  --color-brown: #815854;
  --color-light-brown: rosybrown;
  --color-yellow: #dda94b;
  --color-light-white: #fcf6f5;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'cookieRun';
  padding: 2rem 0;
}

h1 {
  margin: 0;
}

section {
  padding: 2.5rem 0;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--color-brown);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p {
  margin: 0;
}

button {
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-yellow);
  border: none;
  border: 2px black solid;
  color: black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 3px 0px, rgba(60, 64, 67, 0.15) 0px 2px 4px 2px;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeOut {
  animation: fadeOut 1s;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  section {
    width: 100%;
    border-radius: 0px;
  }
}
